/* unknow-mobile */
@media all and (max-width: 340px) {
	.panel-main__inner {
		padding: 0 5%; }

	.panel-title {
		margin-bottom: .1em;
		font-size: 1.5em; }

	.panel-subtitle {
		font-size: .9em; }

	.btn, 
	.navigation__item a {
    display: block;
		margin-bottom: .4em; } 
}